@model MyTaskTracker.Models.TaskList

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.TaskName)
            @Html.EditorFor(model => model.TaskName)
            @Html.LabelFor(model => model.DueDate)
            @Html.EditorFor(model => model.DueDate)
            @Html.LabelFor(model => model.TaskText)
            @Html.EditorFor(model => model.TaskText)
            @Html.LabelFor(model => model.TaskComplete)
            @Html.EditorFor(model => model.TaskComplete)
        </div>

        <div class="form-group">
            <input type="submit" value="Delete Task" class="btn btn-default" />
        </div>
    </div>
}